/*
- General
-- Header
--- Main section
---- Footer
----- Media Queris
*/







/* - General - */


*{
    font-family: 'Droid Sans', sans-serif;
}

body{
    background-color: black;
    color: rgba(255, 255, 255, 0.687);
    min-height: 100%;
    font-size: 13px;
}

a{
    font-weight: bold;
    color: rgba(255, 255, 255, 0.687);
    text-decoration: none;
}















/* -- Header -- */


header{
    width: 100%;
    height: 56px;
}

.header{
    display: flex;
    flex-wrap: nowrap;
    width: 98%;
    margin: 0 auto;
    justify-content: space-between;
}

.header nav ul li{
    margin-right: 10px;
}

.header nav ul li:nth-last-child(1){
    margin-right: 0;
    padding-left: 10px;
}

.left-side-nav{
    display: flex;
}

li{
    display: inline-block;

}

nav{
    display: inline-block;

}

#logo{
    width: 150px;
    height: 48px;
}

.login{
    border: 2px solid rgba(255, 255, 255, 0.687);
    background-color: transparent;
    border-radius: 20px;
    line-height: 24px;
    margin-right: 10px!important;
    padding: 3px 17px 3px!important;
    font-family: 'Droid Sans', sans-serif;
    color:rgba(255, 255, 255, 0.687);;
    font-weight: bold;
}

.login:hover{
    cursor: pointer;
}

i{
    font-size: 20px !important;
}

.fa-angle-down{
    font-size: 18px;
}

.language{
    border-left: 2px solid rgba(255, 255, 255, 0.687);

}



.second-nav-bar{
    display: none;

}
.header-mini-logo img{
    width: 36px;
    height: 36px;
}
.second-nav-bar i {
    font-size: 36px;
}

















/* --- Main section --- */


.main-container{
    width: 100%;
    display: flex;
}

.heading{
    box-sizing: border-box;
    width: 60%;
    margin: 0 auto;
    padding: 72px 50px 0;
    position: relative;
    z-index: 1;
    text-align: center;
   
}

.heading h1{
    font-size: 34px;
    color: white;
}

p{
    font-size: 16px;
    line-height: 24px;
}

.download{
    background-color: #fff;
    color: #18191c;
    font-weight: bold;
    position: relative;
    width: 250px;
    height: 45px;
    border: none;
    border-radius: 5px;
    margin-top: 2%;
}

.image-container{
    max-width: 100%;
    width: 100%;
    position: relative;
    height: 600px;
    overflow: hidden;
    user-select: none;
    padding-bottom: 72px;

}




.desktop{
    position: absolute;
    left: calc(50% - 289.5px);
    bottom: 10px;
    transition: all .5s ease;
}

.android{
    left: calc(50% - 548px);
    z-index: 2;
    position: absolute;
    bottom: 10px;
    transition: all .5s ease;
}

.iphone{
    left: calc(50% - 401.5px);
    bottom: 10px;
    transition: all .5s ease;
    position: absolute;
}

.joystick{
    left: calc(50% - 255px);
    bottom: 10px;
    transition: all .5s ease;
    position: absolute;
}

.laptop{
    left: calc(50% - 4px);
    bottom: 10px;
    transition: all .5s ease;
    position: absolute;
}

.headphone{
    bottom: 142px;
    left: calc(50% + 270px);
    transform: scale(.75);
    transition: all .5s ease;
    position: absolute;
}

.bomb{
    bottom: 335px;
    left: calc(50% - 481px);
    animation-delay: .4s;
    animation-direction: alternate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: float-landing-3k9IjU;
    animation-timing-function: ease-in-out;
    transition: all .5s ease;
    position: absolute;
}

.coin{
    position: absolute;
    transition: all .5s ease;
    animation-direction: alternate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: float-landing-3k9IjU;
    animati%on-timing-function: ease-in-out;
    bottom: 300px;
    left: calc(50% - 428px);
}

.shield{
    left: calc(50% + 423px);
    bottom: 10px;
    transition: all .5s ease;
    position: absolute;
    z-index: -1;
}



.lm-button{
    padding-top: 72px;
    margin: 0 auto;
    width: 100%;
}

.learn-more{
    margin: 0 auto;
    align-items: center;
    border: 1px solid #c7d0f0;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    height: 48px;
    justify-content: center;
    position: relative;
    text-align: center;
    top: -1px;
    width: 212px;
    background-color: transparent;
}














/* ---- Footer ---- */

.mini-logo{
    height: 36px;
    width: 36px;
    padding-top: 15px;
}

footer{
    width: 100%;
}

.footer{
    width: 79%;
    margin: 80px auto 20px;
    max-width: 1600px;
    position: relative;
}

.navigation{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    font-size: 14px;
    line-height: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.462);
}   

.navigation-section li{
    display: block;
}

h2{
    font-size: 34px;
    line-height: 51px;
    color: rgba(255, 255, 255, 0.687);
}

.signup{
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
    height: 15px;
    line-height: 15px;
    padding: 20px 20px 30px 20px;
    position: absolute;
    background-color: #7289da;
    border: 0;
    top: 75%;
    left: 75%;
    color: white;

}

.footer p{
    margin-top: -10px;
}














/* ----- Media Queris ----- */
@media screen and (max-height: 750px) and (max-width: 700px) { 

    .desktop,.bomb,.coin,.laptop,.headphone,.joystick,.shield{
         display: none;
    }

    .image-container{
        margin-bottom: 72px;
        height: 400px;
    }
    .iphone{
        left: calc(50% + 34.5px);
    }

    .android{
        left: calc(50% - 178px);
    }

    .heading{
     
        width: 100%x;
        padding: 0;
        margin: 0 auto;
    }

    .lm-button{
        display: none;
    }

    .navigation{
        align-items: flex-start;
        flex-wrap:  wrap;
        justify-content: space-around;
    }
    .footer{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 50px;
    }
    .signup{
        padding: 20px 20px 30px 20px !important;
        position: static;
       
    }







}




@media screen and (max-width: 848px) { 
    .left-side-nav, .right-nav-bar{
        display: none;
    }
    
  .second-nav-bar{
      width: 100% ;
      display: flex;
      flex-wrap: nowrap;
      height: 56px;    
  } 

  .hamburger-bar{
      order: 1;
      align-self: center;
  }

  .header-mini-logo{
      width: 100%;
      display: flex;
      order: 2;
      align-items:  center;
      justify-content: center;
 }
 .header-mini-logo div img{
     opacity: 0.8;
    }
    .header-mini-logo div{
        justify-content: center;
    }
    .signup{
        position: static;
    }
    .navigation{
        align-items: flex-start;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .navigation-section,.logo-div{
        width: 45%;
        text-align: center;
    }
    
   


      
}